<!DOCTYPE html>
<html>
  <head>
    <title>Exam2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
      <a class="navbar-brand" href="/">Z-Mobile</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="nav pull-right">
          <% if current_user %>
            <!-- <li>  <# render 'shopping_carts/shopping_cart' %> &nbsp &nbsp </li> -->
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete , class: "navbar-brand") %> &nbsp &nbsp </li>
          <% else %>
            <li><%= link_to "Sign In", new_user_registration_path, class: "a-primary" %> &nbsp &nbsp
            </li>
            <li><%= link_to "Login", new_user_session_path, class: "a-primary" %> &nbsp </li>
          <% end %>
        </ul>
      </div>
    </nav>
      <nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
        <a class="navbar-brand" href="/">Handsets</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav pull-right">
            <a class="navbar-brand" href="/">Prepay Options</a>
            <a class="navbar-brand" href="/">Subscriptions</a>
          </ul>
        </div>
      </nav>
    <div class="vertical-menu">
     <a href="#" class="active">Home</a>
     <a href="#">Link 1</a>
     <a href="#">Link 2</a>
     <a href="#">Link 3</a>
     <a href="#">Link 4</a>
    </div>
    <%= yield %>
    <footer class="page-footer">
      <center>
        <div class="footer-copyright text-center py-1">Call center number:
          <a href="/"> +56912313253</a>
        </div>

        <div class="footer-copyright text-center py-1">Address:
          <a href="/"> Av. Vitacumbia 8987</a>
        </div>
      </center>
    </footer>
  </body>
</html>
